<div data-role="page" id="sent">
	<header data-role="header">
		<h1>Sent the email</h1>
	</header>
	<div data-role="content">
		<div style="text-align: center">
			<p>
        Sent the email.
        <%= @workdays %>
			</p>
		</div>
	</div>
</div>
